body {
    font-family: 'Open Sans', sans-serif;
}

body * {
    margin: 0;
    border: 0;
    padding: 0;
}

.bg-pink {
    background-color: #e83e8c;
}

nav img {
    max-width: 8.25rem;
}

header h1 {
    font-size: 3.75rem;
    color: #707070;
}


.img_desc {
    width: 15.5rem;
}

.img_desc li,p {
    color: #212529;
}

.img_desc p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.img_desc h5 {
    color: #212529;
}

.img_desc li,a {
    font-size: 0.6875rem;
}

.collation,.breakfasts,.drinks {
    width: 15.4rem;
    height: 8.25rem;
    background-size: cover;
}

.collation {
    background-image: url('../img/colaciones.jpg');
}

.breakfasts {
    background-image: url('../img/desayunos.jpg');
}

.drinks {
    background-image: url('../img/bebidas.jpg');
}

.icons-section h2,i {
    color: white;
}

.icons-section h2 {
    font-size: 2.5rem;
}

.icons-section i {
    font-size: 3.5rem;
}

footer img {
    height: 6.25rem;
}

.products,.img_footer {
    padding-bottom: 1.25rem;
}